In [1]:
import hashlib
import random
import datetime 
import pandas as pd

# Functions

In [2]:
def generate_hashed_string(original_string, salt = None):
    # Create a hash object for SHA-1
    hash_object = hashlib.sha1()

    # Convert the string to bytes and update the hash object
    if salt is not None:
        original_string += salt
    hash_object.update(original_string.encode('utf-8'))

    # Get the hashed value as a hexadecimal string
    hashed_string = hash_object.hexdigest()

    return hashed_string

In [3]:
def generate_fixed_random_number(input_value):
    # Use a cryptographic hash function to generate a unique hash value for the input
    hash_value = hashlib.sha1(str(input_value).encode()).hexdigest()

    # Set the random seed to the hash value
    random.seed(hash_value)

    # Generate a random number between 0 and 1
    random_number = random.random()*2 - 1

    # Scale the random number to the desired range
    fixed_random_number = int(random_number * 3650)

    return fixed_random_number

In [4]:
def shift_date(string, original_date):
    offset = generate_fixed_random_number(string)
    offset_n = datetime.timedelta(days=offset)
    shifted_date = original_date + offset_n

    return offset_n, shifted_date

# Example

In [5]:
data = {"Name":["Brandon","Brandon Y","Zack"], 
        "DOB":[datetime.date(1990, 11, 27), datetime.date(1960, 4,8), datetime.date(2000,8, 15)],
        "Fixed_value":["A long text here", "Maybe not that long", "Or simply just hello word!"]}
data = pd.DataFrame(data)

In [6]:
data

        Name         DOB                 Fixed_value
0    Brandon  1990-11-27            A long text here
1  Brandon Y  1960-04-08         Maybe not that long
2       Zack  2000-08-15  Or simply just hello word!

In [7]:
salt = "EXAMPLE!"
data["Offsets"] = data.apply(lambda df: (shift_date(df["Name"], df["DOB"]))[0], axis = 1)
data["Shifted DOB"] = data.apply(lambda df: (shift_date(df["Name"], df["DOB"]))[1], axis = 1)
data["Deidentified Name"] = data["Name"].apply(lambda xx: generate_hashed_string(xx, salt))

In [8]:
data

,Name,DOB,Fixed_value,Offsets,Shifted DOB,Deidentified Name
0,Brandon,1990-11-27,A long text here,-591 days,1989-04-15,476e797649c1b9d5501fe29124413b6db9215dce
1,Brandon Y,1960-04-08,Maybe not that long,-1650 days,1955-10-02,bdcbbd4e230920975565cbe8b33a6092957f4271
2,Zack,2000-08-15,Or simply just hello word!,-790 days,1998-06-17,0c406bf4dd3da556ec11d0f8d43e032dbf1cc0e2

With that, we have deidentified both the names and date of birth!